Repository blue-hood/ondo-choseikun: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Location Type 実装中です。
  .eslintignore
  functions/index.js
  functions/index.ts
  functions/location/index.ts
  functions/location/resolvers.ts
  functions/location/typedefs.ts
  functions/src/index.ts
  functions/src/index.ts.rej
  functions/tsconfig.json
  template.yaml
Due: eslint --fix --quiet, prettier --write

拡張性のある Query 定義に変更しました。
  functions/apollo.config.js
  functions/index.js
  functions/index.ts
  functions/location/index.js
  functions/location/resolvers.js
  functions/location/typedefs.js
  functions/location/typedefs.ts
  functions/package.json
Due: eslint --fix --quiet

graphql-codegen を導入しました。
  functions/codegen.yml
  functions/graphql.js
  functions/graphql.ts
  functions/index.js
  functions/index.ts
  functions/location/index.js
  functions/location/index.ts
  functions/location/resolvers.js
  functions/location/resolvers.ts
  functions/package-lock.json
  functions/package.json
  template.yaml
Due: eslint --fix --quiet, prettier --write

yarn に移行しました。
  .eslintignore
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  functions/apollo.config.js
  functions/graphql.ts
  functions/location/resolvers.js
  functions/location/resolvers.ts
  functions/location/typedefs.js
  functions/location/typedefs.ts
  functions/package-lock.json
  functions/package.json
  functions/yarn.lock
  package-lock.json
  package.json
  yarn.lock
Due: eslint --fix --quiet

.gitignore にした js ファイル削除。
  .gitignore
  functions/apollo.config.js
  functions/graphql.js
  functions/index.js
  functions/location/index.js
  functions/location/resolvers.js
  functions/location/typedefs.js
Due: eslint --fix --quiet

Docker による開発環境を構築しました。
  .gitignore
  README.md
  docker-compose.yml
  functions/package.json
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix --quiet: any of: *.{js,ts}
  prettier --write: any of: *.{md,yml,yaml}
